.assess_gra_103_02{
    background-image: url("../../../Media/eng/images/clinic1.png");
    background-repeat: no-repeat;
    padding: 31px 70px 28px 135px;
    font-size: 20px;
	float:left;
	position: absolute;
    left: 1%;
    top: 5%;
	 z-index: 999;
}
.top_1{
position: absolute;
    top: 8%;
    left: 13%;
    font-size: 18px;
    font-weight: bold;
}
.top_2{
position: absolute;
    top: 8%;
    left: 13%;
    font-size: 18px;
    font-weight: bold;
}
.top_3{
position: absolute;
    top: 8%;
    left: 13%;
    font-size: 18px;
    font-weight: bold;
}
.top_4{
position: absolute;
    top: 8%;
    left: 13%;
    font-size: 18px;
    font-weight: bold;
}
.sel_txt_03_02 {
    font-style: italic;
    font-size: 18px;
    padding: 0px 10px;
    color: #a82626;
}

.P_box1 {
    background-image: url("../../../Media/eng/images/R_popup.png");
   background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    font-size: 16px;
    line-height: 27px;
    position: absolute;
	width:786px;
	height:380px;
}
.P_box2 {
    background-image: url("../../../Media/eng/images/G_popup.png");
   background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    font-size: 16px;
    line-height: 27px;
    position: absolute;
	width:786px;
	height:380px;
}
.P_box3 {
    background-image: url("../../../Media/eng/images/P_popup.png");
   background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    font-size: 16px;
    line-height: 27px;
    position: absolute;
	width:786px;
	height:380px;
}
.P_box4 {
    background-image: url("../../../Media/eng/images/B_popup.png");
   background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    font-size: 16px;
    line-height: 27px;
    position: absolute;
	width:786px;
	height:380px;
}
.close_tabs_103_02 {
    background-image: url("../../../Media/eng/images/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 27px;
    height: 26px;
    position: absolute;
    left: 93%;
    top: 7%;
    cursor: pointer;
	z-index: 2;
}

.close_tabs_103_02:hover {
    background-image: url("../../../Media/eng/images/close_hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.close_tabs_txt_103_02 {
    font-size: 18px;
    position: absolute;
    right: 29px;
    top: 3px;
    color: #2c5278;
	    z-index: 2;
	    z-index: 2;
}

.a_fade1_103_02{
 left: 24%;
    position: absolute;
    top: 20%;
}

.a_fade2_103_02{
     left: 27%;
    position: absolute;
    top: 40%;
}
.a_fade3_103_02{
   left: 32%;
    position: absolute;
    top: 61%;
}

.diagnose_gra_103_02{
    background-image: url("../../../Media/eng/images/clinic2.png");
  background-repeat: no-repeat;
    float: left;
    font-size: 20px;
    left: 5%;
    padding: 27px 70px 37px 134px;
    position: absolute;
    top: 25%;
    z-index: 2;
}

.provide_gra_103_02{
    background-image: url("../../../Media/eng/images/clinic3.png");
    background-repeat: no-repeat;
    padding: 32px 70px 37px 114px;
    font-size: 20px;
    float: left;
    position: absolute;
   left: 10%;
    top: 45%;
    z-index: 2;

}

.evaluate_gra_103_02{
    background-image: url("../../../Media/eng/images/clinic4.png");
    background-repeat: no-repeat;
    padding: 32px 70px 37px 134px;
    font-size: 20px;
    float: left;
    position: absolute;
    left: 14%;
    top: 65%;
    z-index: 1;
}

.view_list_bg{
    padding: 10px 0px 5px 15px;
    font-size: 16px;
    width: 52%;
    position: absolute;
    right: 10px;
    top: 8%;
    background-color: #fcf5d7;
    border: solid 1px #cf9f5a;
	}
	
.view_txts {
	width: 100%;
    font-size: 17px;
    color: #990000;
    position: absolute;
    bottom: 5px;
    font-style: italic;
    left: 8px;
}
	
.view_unorder{
	    padding: 0px 20px;
    line-height: 28px;
	}
	
.P_lefts{
     float: left;
    background-color: #fcf5d7;
    border: solid 1px #cf9f5a;
    padding: 10px 10px;
    position: relative;
    left: 10%;
    top: 25%;
    height: 233px;
    font-size: 18px;
    width: 292px;
}

.P_rights{
      float: right;
      background-color: #fcf5d7;
    border: solid 1px #cf9f5a;
    padding: 10px 10px;
    position: relative;
    right: 3%;
    top: 25%;
    height: 233px;
    font-size: 17px;
    width: 334px;
}

.quick_bg{
    background: -webkit-linear-gradient( #e5f2be , #d6ea98,#e5f2be );
    background: -o-linear-gradient( #e5f2be , #d6ea98,#e5f2be );
    background: -moz-linear-gradient( #e5f2be , #d6ea98,#e5f2be );
    background: linear-gradient( #e5f2be , #d6ea98,#e5f2be );
    border-top-left-radius: 10px;
    border-radius: 10px;
    border: solid 2px #adb57e;
    padding: 13px 0px 13px 15px;
    font-size: 16px;
	    position: absolute;
    bottom: 22px;
    width: 96%;
        left: 6px;
    font-size: 18px;
}

.R_Popup,.G_Popup,.P_Popup,.B_Popup
{
    height: 449px;
    background:#fff;
}

/********Animation*********/

/*Model Fade */

@-webkit-keyframes view_fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes view_fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.view_fadeIn2{
  -webkit-animation-name: view_fadeIn;
  animation-name: view_fadeIn;
      -webkit-animation-delay: 2s;
    animation-delay:2s;
    -moz-animation-delay: 2s;
}
.view_fadeIn4 {
  -webkit-animation-name: view_fadeIn;
  animation-name: view_fadeIn;
      -webkit-animation-delay: 4s;
    animation-delay:4s;
    -moz-animation-delay: 4s;
}


@-webkit-keyframes arrow_pointer_bounce {
  0%, 60%,  80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }



  80% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes arrow_pointer_bounce {
  0%, 60%,  80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }



  80% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.arrow_pointer_bounce {
  -webkit-animation-name: arrow_pointer_bounce;
  animation-name: arrow_pointer_bounce;
   -webkit-animation-delay: 1s;
    animation-delay:1s;
    -moz-animation-delay: 1s;
}



@-webkit-keyframes list_right1{
  0% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
   opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
   opacity:1;
  }
}

@keyframes list_right1{
  0% {
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
   opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
}

.list_right3 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay: 4s;
    animation-delay:4s;
    -moz-animation-delay: 4s;
}
.list_right4 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay: 6s;
    animation-delay:6s;
    -moz-animation-delay: 6s;
}
.list_right5 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay: 8s;
    animation-delay:8s;
    -moz-animation-delay:8s;
}
.list_right6 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay: 10s;
    animation-delay:10s;
    -moz-animation-delay: 10s;
}
.list_right7 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay: 12s;
    animation-delay:12s;
    -moz-animation-delay: 12s;
}
.list_right8 {
  -webkit-animation-name: list_right1;
  animation-name: list_right1;
-webkit-animation-delay:14s;
    animation-delay:14s;
    -moz-animation-delay: 14s;
}
